/* Areas that were bootstrap redundant we noted out and then delted. If something breaks, compare to old style */


/* --------------------------------------Site-wide functional stuff ---------------------------------- */
* {
    margin: 0;
    /* box-sizing: border-box; */
}
.cf {
    clear:both;
}

/* ---------------------------------------- HEADER STUFF --------------------------------------------- */
#header {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 5px;
    min-width: 530px;
}
#headTitle {
    background-color: #4aaaa5;
    text-align: center;
    float: left;
}
#headLinks{
    background-color: transparent;
    color: #777777;
    float: right;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
/* This command was being over-written somehow, regardless of placement, without the important tag. So leaving for now, I'll try to remove the conflict and remove it when possible. */
#linkAbout:hover,#linkPortfolio:hover,#linkContact:hover{
    color: #4aaaa5 !important;
}

/* -----------------------------------MAIN BODY styles and placement-------------------------------------- */
body{
    background-image: url("../images/backgrounds/what-the-hex.png");
    background-repeat: repeat;
    background-color: black;
}

.midMain {
    border: solid;
    border-color: #cccccc;
    border-width: 2px;
    text-align: left;
    background-color: #ffffff;
}

/* -------------------------------------- FOOTER STUFF ------------------------------------------------- */
#footer {
    background-color: #666666;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 10px;
    padding-bottom: 10px;
}
/* The following block is the new stickyfoot logic */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.footWrap {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

/* -------------------------- Element Styling...maybe eventually move this to its own css file? ------------ */
/* Note that less of this is checked for redundancy from here out, etc. as 'it works' and timeframe. */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left:4px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 3px;
    margin: 30px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #777777;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 140%;
}

/* ---------------------------------------- PORTFOLIO page specific stuff --------------------------------- */
.imgMyWork{
    float:left;
    margin: 10px;
    position: relative;
}
.imgLabel{
    position: absolute;
    bottom: 15%;
    width: 180px;
    height: 50px;
    background-color:#4aaaa5; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-style: bold;
    padding-top: 14px;
}
.imgLabel:hover{
    opacity: .5;
    border: solid;
    border-color: #cccccc;
    border-width: 3px;
    
}
#portFix{
    margin: 20px;
}

/* ---------------------------------------- CONTACT page specific stuff ----------------------------------- */
input{
    width: 100%;
}
textarea{
    width: 100%;
    height: 140px;
}
#submitButton {
    height: 50px;
    width: 250px;
    color: white;
    background-color: #4aaaa5;
    font-style:bold;
    font-size: 24px;
}
.form{
    height: 300%;
    line-height: 100%;
}

/* --------------------------End. Add new code here that still needs review/testing ----------------------- */


